/* Forms
  =============== */

@custom-selector :--has-error input.has-error, input.has-error:hover, input.has-error:focus, input.has-error:active, select.has-error, select.has-error:hover, select.has-error:focus, select.has-error:active, textarea.has-error, textarea.has-error:hover, textarea.has-error:focus, textarea.has-error:active;
:--forms {
  display: block;
  border: 0.1rem solid var(--formBorderColor);
  border-radius: var(--borderRadius);
  padding: 1.2rem;
  outline: none;
  background: var(--inputBackground);
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

:--forms:hover {
  border-color: var(--formBorderHoverColor);
}

:--forms:focus, :--forms:active {
  border-color: var(--formBorderFocusColor);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px color-mod(var(--linkColor) shade(30%));
}

textarea {
  overflow: auto;
  height: auto;
  resize: none;
}

fieldset {
  border: 1px solid var(--border-color);
  border-radius: var(--borderRadius);
  padding: var(--padding);
  margin: var(--margin) 0;
}

legend {
  padding: 0 0.8rem;
  font-weight: 600;
}

select {
  color: var(--fontColor);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==) no-repeat center right;
  line-height: 1;
}

select::-ms-expand {
  display: none;
}

[type="range"] {
  width: 100%;
}

label {
  font-weight: 600;
  max-width: 100%;
  display: block;
  margin: 1.6rem 0 0.8rem;
}

:--has-error {
  border: 1px solid var(--error);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px color-mod(var(--error) shade(35%));
}

::-webkit-input-placeholder, ::-moz-placeholder, :-moz-placeholder, :-ms-input-placeholder {
  color: var(--placeholder);
}
